body {
    background-color: #e5eaf2;
    font-family: "Inter", sans-serif;
}

h2,
h3 {
    letter-spacing: 0.5px;
}

.table th {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
}

#task-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

/* task-name column width */
#task-table th:nth-child(1),
#task-table td:nth-child(1) {
    width: 55%;
}

/* stoping overflow primary on the task-name*/
#task-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* Transition of width */
.taskListSection,
.filterTaskSection {
    transition: all 0.3s ease;
}

/* Media query  */
@media (max-width: 750px) {
    /* Task dashboard width */
    .taskListSection {
        max-width: 95% !important;
        margin: 0 auto;
        padding: 0 10px;
    }
    #task-table th:nth-child(1),
    #task-table td:nth-child(1) {
        width: 30%;
    }

    /* Table scroll & text overflow handling */
    .table-responsive {
        overflow-x: auto;
    }
    #task-table,
    #task-table th,
    #task-table td {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Filter card takes */
    .filterTaskSection {
        max-width: 90% !important;
        margin: 0 auto;
        padding: 0 10px;
    }

    /* Stack filter selects vertically */
    .filterTaskSection .row > .col-md-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Center selects and make them wider */
    .filterTaskSection .form-select {
        max-width: 100% !important;
        margin: 0 auto 10px auto;
    }
}
